.carousel-item
{
    height: 300px;
}
.carousel-item img{
    height:300px;
    width: auto;
    position: absolute;
}
.greencolour{
    background-color:green;
}
.alert-primary{
    color:red;
}
.fa-home{
    font-size:200px;
}