:root{ --blackcolor:hsl(2,20%,34%)}

body{
    font-family: 'Poppins', sans-serif;
    background:var(--blackcolor); 
    /* background-color: #000; */
}
h1{
    color:red;
    border: 3px solid black;
    border-radius: 10%;
}
.para{
    color:#000;
    padding-top: 10px;
    line-height: auto;
    padding-bottom: 10px;
    font-size: 15px;
}
#food{
    width: 100px;
    height: auto;
    padding: 10px;
}
.box{
    width: 100px;
    height: 100px;
    box-shadow:0px 10px 2px rgb(0, 0, 0,0.2) ;
    background-color:#fff;
}
@media(max-width:480px){
    body{
background-color: black;
    }
}